.alertPos {
  width: 400px;
  max-width: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  height: 250px;
  max-height: 180px;
}
