<app-filter-component 
  (filerApplyEvent)="filerApply($event)">
</app-filter-component>

<app-sort (sortEvent)="sortedHotels($event)"></app-sort>

<app-app-hotel-item 
  *ngFor="let hotel of (hotels | filterPipe : filter) | sorting : appSort;
   even as myEven; "
  (hotelClickEvent)="selectedHotel(hotel)" 
  [activeItem]="hotel.id === activeItemId" 
  [hotel]="hotel"
  [class]="{'even': myEven, 'odd': !myEven}"
  [addedFav]="isAddedToFav(hotel)"
  (favClickEvent)="favAddDelClick($event)"
 >
</app-app-hotel-item>