<!--The content below is only a placeholder and can be replaced.-->
<div class="container content">
  <!-- container centers content on large screens -->
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">
        <img src="{{SelectedHotel.picture}}" alt="..." class="rounded-top" />
        <div class="card-body">
          <h2>{{SelectedHotel.title}}</h2>
          <small> <span *ngFor='let key of  [1,2,3,4,5]' 
            class="fa fa-star"
            [ngClass]="{'checked': key <= SelectedHotel.stars}">
            </span></small>
          <p class="card-text">{{SelectedHotel.description}}</p>
<h6>address: {{SelectedHotel.address}}</h6>
<h6>phone: {{SelectedHotel.phone}}</h6>
<img *ngFor='let photo of  SelectedHotel.photos' src="{{photo}}" class="rounded float-center mr-3" alt="{{photo}}"
        width="200" />
        </div>
      </div>
      <div class="list-group">
          <app-app-hotel-item
          *ngFor="let hotel of Hotels "
            (HotelClick)="SelectHotel(hotel)" 
            [activeItem]="hotel.id === SelectedHotel.id"
            [hotel]="hotel"
            >
          </app-app-hotel-item>
        </div>        
    </div> <!-- uses 6 columns on medium and larger screens... -->

    <div class="col-md-4">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <app-app-weather [Weather]="SelectedHotel.weather" class='d-flex'></app-app-weather>
      </div>
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <app-app-profile [Profile]="SelectedHotel.profile"></app-app-profile>
      </div>

    </div>
  </div>
</div>